<%- include('komponenty/zahlavi.ejs')%>
<div class="container">
  <div class="row">
              <% if (message) { %>
                <div class="alert alert-dismissible fade show" role="alert">
                  <a href="" class="text-success"><i class="fa fa-edit fa-lg mx-1"></i><strong>Film byl přidán!</strong></a>
                </div>
              <% } %>
    <div class="table-responsive">
                  <% if (zaznam != '') { %>
                    <br>
                    <table>
                      <thead>
                        <tr class="table-light">   
                          <th>|&nbsp;&nbsp;Smazat</th>
                          <th>|&nbsp;&nbsp;ID</th>
                          <th style="width:20%">|&nbsp;&nbsp;Název filmu</th>
                          <th style="width:20%">|&nbsp;&nbsp;Jméno režiséra</th>
                          <th>|&nbsp;&nbsp;Rok vydání</th>
                          <th style="width:30%">|&nbsp;&nbsp;Popis filmu&nbsp;&nbsp;|</th>
                        </tr>   
                      </thead>    
                      <tbody>
                        <% zaznam.forEach((row,index) => { %>
                          <tr>
                            <td>
                              <form style="display: inline" action="/delete/<%= row._id %>" method="get" class="text-danger">
                                <button type="submit">X</button>
                              </form>
                            </td>
                            <td><%= index %></td>
                            <td><%= row.nazev_filmu %></td>
                            <td><%= row.reziser %></td>
                            <td><%= row.rok_vydani %></td>
                            <td><%= row.popis %></td>
                          </tr>
                        <% }) %>  
                      </tbody>           
                    </table>  
                  <% } else { %>   
                    <h1 class="text-center text-secondary mt-5">Nenašli jsme žádné filmy.</h1>  
                  <% } %>     
    </div>       
  </div>                   
</div>
<%- include('komponenty/zapati.ejs')%>
